.avatar {
    height: 20em;
    border-radius: 10%;
    width: inherit;
    height: auto;
    padding: 0 0.5em 0 0.5em;
}

.question-score {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #6C757D;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 1.2em;
    margin: 0 0.5em 0 0;
}

.asnwer {
    padding: 0 0 1em 0;
}

.answer-score {
    padding: 1em 0 0 1em;
}