<div class="card mb-3 question">
    <div class="row no-gutters">

        {% include 'inc/q_score.html' with q=q %}

        <div class="col">
            <div class="card-body">
                <a href="{% url 'answers' q.pk %}">
                    <h5 class="card-title">{{ q.title }}</h5>
                </a>
                <p class="card-text question-text">
                    {{ q.text|linebreaksbr }}
                </p>
                <p class="card-text"><small class="text-muted">Created at {{ q.date_create }}</small></p>
                <h5>Tags:</h5>

                {% for t in q.tags.all %}
                <a href="{% url 'tag' t.tag %}" class="card-link">{{ t }}</a>
                {% endfor %}

                <div class="mt-3 text-center">
                    <a href="{% url 'answers' q.pk %}" class="btn btn-outline-success">
                        Answer ({{ q.answer_set.count }})
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>