<!-- Sidebar -->
<div class="sidebar">
    <h3 class="text-center">Popular Tags</h3>
    <hr>
    <ul>
        <li><a href="#" class="sidebar-link">Perl</a></li>
        <li><a href="#" class="sidebar-link">Python</a></li>
        <li><a href="#" class="sidebar-link">TechnoPark</a></li>
        <li><a href="#" class="sidebar-link">MySQL</a></li>
        <li><a href="#" class="sidebar-link">dJango</a></li>
        <li><a href="#" class="sidebar-link">Mail.ru</a></li>
    </ul>
    <h3 class="text-center">Best Members</h3>
    <hr>
    <ul>
        <li><a href="#" class="sidebar-link">Vadimka</a></li>
        <li><a href="#" class="sidebar-link">Dima Zhuk</a></li>
        <li><a href="#" class="sidebar-link">Anton Prokhorov</a></li>
        <li><a href="#" class="sidebar-link">Sanya Lox</a></li>
        <li><a href="#" class="sidebar-link">You</a></li>
    </ul>
</div>